 <div class="logos bg-dark">
    <div class="logos-slide">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
        <img class="pt-4" src="/img/logo4.png" alt="logo XGame">
    </div>

 </div>

<script>
    const copy = document.querySelector('.logos-slide').cloneNode(true)
    const slide = document.querySelector('.logos').appendChild(copy)
</script>