<div class="hero hero-home">

    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 home text-uppercase">
                <img class="logo p-3" src="/img/logo.png" alt="logo XGame">
                <h1 class="pb-3"><span class="fst-italic">Skatepark</span> Inscribete y participa</h1>
                <p>Ven a vivir los X games este 2025, participa y vive toda la accion de X games viña del mar</p>
                <button class="btn boton text-uppercase px-5 py-2">Registrate <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

</div>
